<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995872340154-empio4scn9rn6m8kdq5hsjvjkj13bml4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995872340154-empio4scn9rn6m8kdq5hsjvjkj13bml4</string>
	<key>API_KEY</key>
	<string>AIzaSyDm3LAYdwiQwoj6GnojJs3g6COeTvV3Lw4</string>
	<key>GCM_SENDER_ID</key>
	<string>995872340154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-e8aee</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-e8aee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995872340154:ios:9adf7a70266315f8e5ea83</string>
</dict>
</plist>